svg {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    
    .heart {
      fill: url(#Gradient1);
      stroke: #fb2d5f;
      stroke-miterlimit: 10;
      cursor: pointer;
    }
    .stop1 {
      stop-color: white;
    }
    .stop2 {
      stop-color: #fb2d5f;
    }
  }
  
  .prizes-page__wishlist-button {
    // transform: scale(3);
    // font-family: 'museo', sans-serif;
    font-style: normal;
    font-weight: 300;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 500;
	font-family: "Outfit", Arial, sans-serif !important;
    line-height: 1rem;
    color: #fb2d5f;
    text-align: center;
    background-color: #fff;
    // border: 0.0625rem solid #f5f5f5;
    border-radius: 2px;
    outline: none;
    // min-width: 11rem;
    cursor: pointer;
    float: right;
    
    &:hover {
     background-color: rgba(#fb2d5f, .025);
    }
  }
  .modal{
    $modal-fade-transform: scale(1);
    
  }