.compare_bttn{
    background-color: #334a9f ;  
  }
  
  
  .action--compare-add {
  color: #eb6a07 ;
  }
  .action--compare-add:hover .action__text--invisible,
  .action--download:hover .action__text--invisible {
  color: #ddd;
  font-size: 16px;
  letter-spacing: 0;
  background: #2F3035;
  border-radius: 2px;
  padding: 3px 5px
  }
  .action--compare-add:hover {
      color: #334a9f 
  }
  .action--compare-add .fa-check,
  .action--compare-add input[type=checkbox]:checked~.fa-plus {
  display: none
  }
  .action--compare-add input[type=checkbox]:checked~.fa-check {
    display: inherit;
  color: #4169e1;
  font-size: 18px;
  }
  .check-hidden {
  position: absolute;
  opacity: 0;
  top: 4px !important;
  width: 42px;
  height: 42px;
  right: 4px;
  }
  .check-hidden i{
    position: relative;
    top: 2px;
  }
  .action {
  display: inline-block;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: center
  }
  .action:focus {
  outline: none
  }
  .action__text {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: .813em;
  vertical-align: middle;
  display: inline-block
  }
  .action__text--invisible {
  position: absolute;
  top: 100%;
  opacity: 0;
  pointer-events: none
  }
  .compare-section {
  position: fixed;
  top: 200px;
  left: 10px;
  z-index: 999;
  
  }
  #compare-section_one{
    transition: transform 0.3s ease-in-out;
  }
  #compare-section_one.clicked {
    transform: translateX(-200px);
  }
  .btn-compare, .btn-compare:hover {
      background-color: #eb6a07;
      color: #ffffff !important;
      border-radius: 5px;
      padding: 5px 3px;
      font-size: 14px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  /* .btn-compare:hover {
    background-color: #00308F;
    color: #ffffff !important;
} */
  .col-md-2-5.col-lg-2-5 {
  width: 20%
  }
  .leftfl::before,
  .rightfl::before {
  font-size: 25px
  }
  .cpp{
      float: right !important;
  }