ul {
    list-style-type: none
}

.cat_mtop {
    margin-top: 50px
}

.catalog_page {
    max-width: 700px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    background-color: #fff;
}

.table,td,th {
    border: 1px solid #000;
    padding: 3px;
    font-size: 15px;
    margin-bottom: 0!important;
}

.download_box {
    height: 165px;
    border-radius: .2rem;
    /* margin: 50px 0 30px 0; */
}

.download_btn {
    background-color: #eb6a07;
    border: 0;
    /* border-color: #76BA1B; */
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 500;
	font-family: "Outfit", Arial, sans-serif !important;
}

.download_btn:hover {
    text-decoration: none;
    background-color: #284a58;
    border-color: #284a58;
    color: #fff;
}

.download_here {
    /* font-size: 17px; */
    font-size: 20px;
    font-weight: 500;
    padding-top: 0px;
    color: #666;
    font-weight: 500;
	font-family: "Outfit", Arial, sans-serif !important;
}

.product-title-catalog h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 16px;
    color: #1d1218;
	font-family: "Outfit", Arial, sans-serif !important;
}

.catalog-page1 {
    /* height: 840px; */
    height: 872px;
    position: relative;
    box-shadow: 0 0 30px rgba(0,0,0,.253);
}
.single-cat-img{
    max-width: 100%;
}
.banner-catalog{
    padding: 0;
}
.catalog-footer{
    text-align: center;
}
.catalog_cover {
    /* background-image: url(../../assets/images/catalog.jpg); */
    background-size: cover;
    /* max-width: 670px; */
    /* width: 100%; */
    height: 840px;
    /* margin: auto */
}

.catalog_logo {
    /* width: 215px;
    float: right;
    padding: 10px;
    margin: 53px 53px 0 0; */
    width: 270px;
    float: right;
    padding: 0px;
    margin: 65px 25px 0 47px;
}

.catalog_img {
    width: 300px;
    vertical-align: middle;
    margin: auto;
    /* background: #fff; */
    /* border-bottom: 1px solid #fff;
    border-radius: 999px; */
}

.check_icon {
    color: #255b67
}
.single-catalog-heading{
    text-align:center;
    padding:0;
}
.catalog_head {
    font-size: 30px;
    font-weight: 500;
    color: #4169e1;
    display: grid;
    margin-top: 50px;
    font-family: "Outfit", Arial, sans-serif !important;
}

.catalog_contact {
    margin: auto;
    font-weight: 400;
    /* margin-bottom: -45px; */
    padding: 0 25px;
    font-size: 14px;
    position: relative;
    top: 60px;
    font-family: "Outfit", Arial, sans-serif !important;
    /* text-align: right; */
    /* margin-top: -50px; */
}

.span_one {
    display: inline-block;
    width: 2%;
    vertical-align: top
}

.span_two {
    display: inline-block;
    width: 100%
}

.g_aa,.g_aa {
    color: #00CED1;
    text-decoration: none
}

.page-2 {
    height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.253);
}

.body_center {
    margin: 0 25px;
}

.catalog_subhead {
    font-weight: 600;
    color: #4169e1;
    font-size: 20px;
    padding: 15px 0 0 0;
    
}
.catalog_subhead span{
    padding: 0;
    font-family: "Outfit", Arial, sans-serif !important;
    /* margin-left: -25px; */

}
.catalog_text {
    /* margin: 20px; */
    margin-bottom: 0;
    line-height: 25px;
    font-size: 14px;
    /* background: #fff; */
    padding: 0;
    border-radius: 25px;
}
tr{
    display: table-row;
    margin-bottom: 2px;
}
td,th {
    border: 1px solid #e1e1e1 !important;
    padding: 10px 10px;
    font-size: 14px;
    text-align: left;
    border-width: 1px !important;
    border-color: #fff;
}

.mobile_bottom {
    padding-bottom: 15px;
    font-size: 14px;
    font-family: "Outfit", Arial, sans-serif !important;
}

.fa-caret-right {
    color: #8FD400;
    font-weight: 18px;
    margin-left: -15px
}

.cat_tab {
  color: #555;
  border: 1px solid #fff;
  padding: 10px 10px;
  font-size: 14px;
  font-family: "Outfit", Arial, sans-serif !important;
}
.specs-table{
    padding: 0px;
}
.features-list{
    
}
.page-3 {
    height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.253);
    padding-top: 20px;
}
.page-4 {
    height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.253);
    padding-top: 20px;
}

.catalog_footerlog {
    width: 200px;
    margin-top: 112px;
}
.span_two{
    font-size: 14px;
    line-height: 30px;
}
.banner-sticker{
    background-color: #0B6623; 
    padding: 5px;
}
.catalog-footer{
   
}
@media only screen and (max-width: 319px){
    .catalog_logo{
        width: 150px;
    }
    .product-title-catalog {
        font-size: 22px;
        font-weight: 600;
        margin-top: 16px;
        /* text-transform: uppercase; */
    }
    .banner-sticker{
        background-color: #0B6623; 
        padding: 5px;
        margin-top: -10px;
    }
    .banner-catalog img{
        width: 100%;
    }
    .catalog_subhead {
        margin-top:15px
    }

    .download_btn {
        /* background-color:  */
        border: none;
        color: #fff;
        padding: 9px 20px;
        cursor: pointer;
        font-size: 17px;
        margin-top: 17px;
        text-decoration: none
    }

    .check_icon {
        margin-left: -30px
    }

    .catalog-page1 {
        max-height: 840px;
        position: relative;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        margin-top: 0
    }

    .catalog_cover {
        /* background-image: url(../../assets/images/catalog.jpg); */
        background-size: cover;
        /* max-width: 100%; */
        max-height: 840px;
        /* margin: auto */
    }

   

    .catalog_img {
        width: 100%;
        margin-top: 50px
    }

    .catalog_head {
        font-size: 18px;
        font-weight: 600;
        margin: 40px 0 0 10px
    }

    .span_one {
        width: 5%
    }

    .span_two {
        width: 93%
    }

    .catalog_contact {
        font-size: 14px;
        margin: auto;
    }

    .page-2 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        padding: 10px 0 10px 0
    }

    .body_center {
        margin: 0 25px
    }

    .catalog_subhead {
        font-size: 17px;
        padding: 5px 0 0 0
    }

    .catalog_text {
        margin: 0 10px;
    }

    .table,td,th {
        border: 1px solid #000;
        margin-top: 2px
    }

    .table {
        padding-bottom: 10px
    }

    .fa-caret-right {
        color: #255b67;
        font-weight: 18px;
        margin-left: -25px
    }
    
    .page-3 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        padding: 10px 0 10px 0
    }
    .catalog-footer{
        width: 700px;
        text-align: center;
        /* margin-top: 105px;
        background: #007791;
        margin-left: -25px;
        height: 200px; */
    }
    /* .catalog_footerlog {
        width: 25%;
        margin-top: 70px
    } */
}
@media only screen and (min-width: 320px) and (max-width:580px) {
    .catalog_logo{
        width: 140px;
    }
    .product-title-catalog {
        font-size: 24px;
        font-weight: 600;
        margin-top: 16px;
        /* text-transform: uppercase; */
    }
    .banner-sticker{
        background-color: #0B6623; 
        padding: 5px;
        margin-top: -10px;
    }
    .banner-catalog img{
        width: 100%;
    }
    .catalog_subhead {
        margin-top:15px
    }

    .download_btn {
        /* background-color:  */
        border: none;
        color: #fff;
        padding: 9px 20px;
        cursor: pointer;
        font-size: 17px;
        margin-top: 17px;
        text-decoration: none
    }

    .check_icon {
        margin-left: -30px
    }

    .catalog-page1 {
        max-height: 840px;
        position: relative;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        margin-top: 0
    }

    .catalog_cover {
        /* background-image: url(../../assets/images/catalog.jpg); */
        background-size: cover;
        /* max-width: 100%; */
        max-height: 840px;
        /* margin: auto */
    }

   

    .catalog_img {
        width: 200px;
        margin-top: 25px;
    }

    .catalog_head span {
        font-size: 17px;
        font-weight: 600;
        /* margin: 40px 0 0 10px; */
    }

    .span_one {
        width: 5%
    }

    .span_two {
        width: 100%
    }

    .catalog_contact a{
        font-size: 11px;
        margin: auto;
    }

    .page-2 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        padding: 10px 0 10px 0
    }

    .body_center {
        margin: 0 25px
    }

    .catalog_subhead {
        font-size: 17px;
        /* padding: 10px; */
    }

    .catalog_text {
        margin: 15px 0;
        padding: 0;
    }

    .table,td,th {
        border: 1px solid #000;
        margin-top: 2px
    }

    .table {
        padding-bottom: 10px
    }

    .fa-caret-right {
        color: #255b67;
        font-weight: 18px;
        margin-left: -25px
    }
    .specs-table{
        padding: 0;
        margin: 20px 0;
    }
    .features-list{
        padding: 0!important;
        margin: 15px 0;
    }
    .features-list li span{
       text-align: justify;
       line-height: 25px;
    }
    .page-3 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        /* padding: 10px 0 10px 0; */
    }
    .catalog-footer{
        width: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 581px) and (max-width:767px) {
    .catalog_logo{
        width: 200px;
    }
    .product-title-catalog {
        font-size: 28px;
        font-weight: 600;
        margin-top: 16px;
        /* text-transform: uppercase; */
    }
    .banner-sticker{
        background-color: #0B6623; 
        padding: 5px;
        margin-top: -10px;
    }
    .banner-catalog img{
        width: 100%;
    }
    .catalog_subhead {
        margin-top:15px;
        font-size: 26px;
        font-weight: 600
    }

    .download_btn {
        /* background-color: ; */
        border: none;
        color: #fff;
        padding: 9px 20px;
        cursor: pointer;
        font-size: 17px;
        margin-top: 17px;
        text-decoration: none
    }

    .check_icon {
        margin-left: -30px
    }

    .catalog-page1 {
        max-height: 840px;
        position: relative;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        margin-top: 0
    }

    .catalog_cover {
        /* background-image: url(../../assets/images/catalog.jpg); */
        background-size: cover;
        /* max-width: 100%; */
        max-height: 840px;
        /* margin: auto */
    }

   

    .catalog_img {
        width: 45%;
        margin-top: 40px
    }

    .catalog_head {
        font-size: 25px;
        font-weight: 600;
        margin: 20px 0 0 10px
    }

    .catalog_contact {
        font-size: 14px;
        margin: 10px 25px;
    }

    .page-2 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        padding: 10px 0 10px 0
    }

    .body_center {
        margin: 0 25px
    }

    .catalog_subhead {
        font-size: 17px;
        padding: 10px;
    }

    .catalog_text {
        margin: 10px 10px 0 0
    }

    .table,td,th {
        border: 1px solid #000;
        margin-top: 2px
    }

    .table {
        padding-bottom: 10px
    }

    .fa-caret-right {
        color: #255b67;
        font-weight: 18px;
        margin-left: -25px
    }

    .page-3 {
        height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.253);
        /* padding: 10px 0 10px 0; */
    }
    .catalog-footer{
        width: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) and (max-width:1400px) {
    .catalog_logo{
        width: 260px;
    }
    .logo_img {
        width:180px;
        margin-top: 20px
    }

    .for_media {
        width: 100%;
        /* margin-top: 30px */
    }
}
.certificate {
    /* border: 20px solid #0C5280; */
    padding: 25px;
    height: 600px;
    position: relative;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url(../../assets/images-1/favicon.png);
    background-size: 100%;
    z-index: -1;
}